/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.q-label {
	color:inherit; 
	/*font-size:0.875rem;*/
    font-size:1rem;
	margin-bottom: 10px;
}



textarea.materialize-textarea {
 padding-bottom:inherit;
  resize: vertical; /* user can resize vertically, but width is fixed */
}



.field-section {margin-bottom:30px;}
/*
Override Foundation focus style on input fields
*/


[type='text']:focus, [type='password']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='week']:focus, [type='email']:focus, [type='number']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='url']:focus, [type='color']:focus, textarea:focus {
	border:inherit;
}

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea{
	box-shadow: none;
	border-radius: 0;
}

input[readonly] {
	background:none;
	cursor: none;
}
textarea {
	min-height:10rem;
}
label {
	margin-bottom:5px;
	/*font-size: 0.875rem;*/
    font-size:1rem;
}

[type='checkbox'] + label, [type='radio'] + label{
	color:#b9b7b7;
}




.center, .center-align {
    text-align: center;
}

.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.btn, .btn-large, .btn-flat {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}
.btn, .btn-large, .btn-floating, .btn-large, .btn-flat {
    font-size: 1rem;
    outline: 0;
}
.btn, .btn-large {
    text-decoration: none;
    color: #fff;
    background-color: #000000;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
}
.btn-large {
    height: 54px;
    line-height: 54px;
}
.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    transition: .3s ease-out;
}

.black {
    background-color: #000;
}

.brand-yellow {
    background-color: #F9D43D;
    color: #414042;
}


.brand-yellow:hover {
    background-color: #f9ca09;
}
.brand-yellow:active {
    background-color: #F9D43D;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
.material-icons {
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: 'liga';
    -moz-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
}
i.right {
    float: right;
    margin-left: 15px;
}
.btn i, .btn-large i, .btn-floating i, .btn-large i, .btn-flat i {
    font-size: 1.3rem;
    line-height: inherit;
}
.btn-large i {
    font-size: 1.6rem;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
label {
    font-family: "Myriad Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
}

h2 {
    margin-bottom:30px;
    margin-top:30px;
    font-weight: bold;
    font-size: 1.5rem;
}

@media print, screen and (min-width: 40em){

h2 {
    margin-bottom:60px;
    margin-top:60px;
}


}


h2 span { 
    color: #F9D43D;
 }

.input-group > :first-child,
.input-group,
.input-group-label,
.input-group-field {
    border-radius: 0;    
}

 .input-group-label,
 .picker__date-display {
    background-color: #F9D43D;
 }

.picker__close, .picker__today {
    color: #F9D43D;
}
 .picker__weekday-display {
    background-color: #f9ca09;
 }

[type='text']:focus,
[type='password']:focus,
[type='date']:focus,
[type='datetime']:focus,
[type='datetime-local']:focus,
[type='month']:focus,
[type='week']:focus,
[type='email']:focus,
[type='number']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='time']:focus,
[type='url']:focus,
[type='color']:focus,
 textarea:focus {
    border: 1px solid #F9D43D;
 } 


 .picker__footer button {
    padding: 0 1rem;
    font-size: 0.8rem;
 }

.picker__nav--prev:hover,
.picker__nav--next:hover {
    background:#F9D43D;
    color: #000;
}

.picker__nav--next:before{
border-left-color:#000;
border-right-color:#000;
}
.picker__nav--prev:before{
border-left-color:#000;
border-right-color:#000;
}
 .picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected 
 {
    border-radius:0;
    background-color: #F9D43D;
    color:black;
 }
.picker__table,
table thead, table tbody, table tfoot {
    border-bottom:0;
}
.picker__table tbody tr:nth-last-child(2) {
border:1px solid #f1f1f1
}
.picker__year-display {
    color: #fff;
}

 .picker__select--month.browser-default {
    padding-left: 15px;
    padding-top:2px;
}

.picker__day.picker__day--today {
    color: #F9D43D;
}
button.picker__today:focus, button.picker__clear:focus, button.picker__close:focus {
    background: #F9D43D;
    color:black;
}

.btn-large {
    margin:20px auto;
}

.input-group-label label {
    font-size:1rem;
    line-height: 1rem;
}

label {
    cursor:pointer;
}
span,
label,
h1,h2,h3,h4,h5,h6,
[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
    color: #414042;
}
.has-tip {
    cursor:help;
    border-bottom:none;
}

.intro-container {
    background: #F9D43D;
    padding:30px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);

}

@media print, screen and (min-width: 40em){
    .intro-container {
        padding:60px;
    }
}

.intro {
    font-size: 1rem;
    margin-bottom:0;
}
@media print, screen and (min-width: 40em){
    .intro {
        font-size: 1.25rem;
    }
}

h1 {
    font-weight:100;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size:2rem;
}



@media print, screen and (min-width: 40em){
    h1 {
        font-size: 3rem;
        margin-top: 60px;
        margin-bottom: 60px;
    }
}

::-moz-selection {
  color: #ffffff;
  background: #414042;
}

::selection {
  color: #ffffff;
  background: #414042;
}